In [3]:
import pandas as pd
BASE_PATH = "~/data/movies/dailyboxoffice/dt=20240101"

df = pd.read_parquet(BASE_PATH)

In [5]:
df.columns

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'multiMovieYn', 'repNationCd'],
      dtype='object')

In [6]:
df.to_parquet("~/temp/t_p_1", partition_cols=['openDt', 'movieCd'])

In [ ]:
# └── openDt=2024-01-10
#     └── movieCd=20236533
#         └── 83d35d3869db4c0d91e75ac421b51542-0.parquet

In [7]:
df.to_parquet("~/temp/t_p_2", 
              partition_cols=['openDt', 'salesAmt', 'repNationCd'])

In [ ]:
# └── openDt=2024-01-10
#     └── salesAmt=2804970
#         └── repNationCd=__HIVE_DEFAULT_PARTITION__
#             └── 41ad2111fc9c4f9aadba26c6231d4752-0.parquet

In [9]:
import pandas as pd
pd.read_parquet('/home/sgcho/data/movies/merge/dailyboxoffice/dt=20240101/7f1f7bb747e1446bba9bf86a49b7c0ec-0.parquet')

    rank   movieCd                               movieNm  audiCnt
0      1  20203702                            노량: 죽음의 바다   290717
1      2  20212866                                 서울의 봄   262422
2      3  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~    58239
3      4  20235735                          아쿠아맨과 로스트 킹덤    49368
4      5  20235596                            트롤: 밴드 투게더    28988
5      6  20234673                      뽀로로 극장판 슈퍼스타 대모험    11586
6      7  20235290                             도티와 영원의 탑    10704
7      8  20234114                                    괴물     8710
8      9  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!     6471
9     10  20235980                             말하고 싶은 비밀     3765
18    11  20190324                                3일의 휴가     3295
19    16  20235098                                  나폴레옹      540
22    12  20236080                         류이치 사카모토: 오퍼스     3001
23    13  20233299                                  크레센도     2534
24    14  20235923                            사랑은 낙엽을 타고     1052
25    15  20235693                             리빙: 어떤 인생      729
26    17  20234664                        그대들은 어떻게 살 것인가      318
27    18  20124722                             피아니스트의 전설      294
28    18  20236533                                립세의 사계      294
29    20  19860125                                  쿼바디스      292
45    21  20202247                               싱글 인 서울      212
46    22  20228560                                  너와 나      192
47    23  20235697                엔시티 네이션 : 투 더 월드 인 시네마       69
48    24  20232077                                어른 김장하       31
49    25  20227525                             교토에서 온 편지       29