In [17]:
import pandas as pd

A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [18]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [19]:
A.set_index("movieCd", inplace=True)
B.set_index("movieCd", inplace=True)

In [20]:
r_df=A.combine_first(B)
r_df

        multiMovieYn repNationCd
movieCd
1001               Y           K
1002               Y           F
1003               N           F
1004               Y           K

In [21]:
r_df.reset_index(inplace=True)
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [22]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
print(merged_df)

        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K           None          None
1002                 Y             F            NaN           NaN
1003                 N          None              Y             F
1004               NaN           NaN              Y             K

In [26]:
if pd.isna(merged_df.iloc[0, 0]):
    merged_df.iloc[0, 0] = merged_df.iloc[0, 2]

if pd.isna(merged_df.iloc[0, 1]):
    merged_df.iloc[0, 1] = merged_df.iloc[0, 3]

if pd.isna(merged_df.iloc[1, 0]):
    merged_df.iloc[1, 0] = merged_df.iloc[1, 2]

if pd.isna(merged_df.iloc[1, 1]):
    merged_df.iloc[1, 1] = merged_df.iloc[1, 3]

if pd.isna(merged_df.iloc[2, 0]):
    merged_df.iloc[2, 0] = merged_df.iloc[2, 2]

if pd.isna(merged_df.iloc[2, 1]):
    merged_df.iloc[2, 1] = merged_df.iloc[2, 3]

if pd.isna(merged_df.iloc[3, 0]):
    merged_df.iloc[3, 0] = merged_df.iloc[3, 2]

if pd.isna(merged_df.iloc[3, 1]):
    merged_df.iloc[3, 1] = merged_df.iloc[3, 3]

if pd.isna(merged_df.iloc[0, 2]):
    merged_df.iloc[0, 2] = merged_df.iloc[0, 0]

if pd.isna(merged_df.iloc[0, 3]):
    merged_df.iloc[0, 3] = merged_df.iloc[0, 1]

if pd.isna(merged_df.iloc[1, 2]):
    merged_df.iloc[1, 2] = merged_df.iloc[1, 0]

if pd.isna(merged_df.iloc[1, 3]):
    merged_df.iloc[1, 3] = merged_df.iloc[1, 1]

if pd.isna(merged_df.iloc[2, 2]):
    merged_df.iloc[2, 2] = merged_df.iloc[2, 0]

if pd.isna(merged_df.iloc[2, 3]):
    merged_df.iloc[2, 3] = merged_df.iloc[2, 1]

if pd.isna(merged_df.iloc[3, 2]):
    merged_df.iloc[3, 2] = merged_df.iloc[3, 0]

if pd.isna(merged_df.iloc[3, 3]):
    merged_df.iloc[3, 3] = merged_df.iloc[3, 1]



print(merged_df)

        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K              Y             K
1002                 Y             F              Y             F
1003                 N             F              Y             F
1004                 Y             K              Y             K