In [68]:
import pandas as pd

A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [69]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [70]:
A.set_index("movieCd", inplace=True)
B.set_index("movieCd", inplace=True)

In [71]:
r_df=A.combine_first(B)
r_df

        multiMovieYn repNationCd
movieCd
1001               Y           K
1002               Y           F
1003               N           F
1004               Y           K

In [72]:
r_df.reset_index(inplace=True)
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [81]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
print(merged_df)

        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K           None          None
1002                 Y             F            NaN           NaN
1003                 N          None              Y             F
1004               NaN           NaN              Y             K

In [ ]:
for i in range(0,len(merged_df)):    
    if pd.isna(merged_df.iloc[i, 0]):
        merged_df.iloc[i, 0] = merged_df.iloc[i, 2]
    if pd.isna(merged_df.iloc[i, 1]):
        merged_df.iloc[i, 1] = merged_df.iloc[i, 3]

 
multiMovieYn = merged_df.copy()['multiMovieYn_A'].tolist()     
repNationCd = merged_df.copy()['repNationCd_A'].tolist()
data = {"multiMovieYn": multiMovieYn, "repNationCd": repNationCd}
df = pd.DataFrame(data)
df["movieCd"] = merged_df.index

# movieCd 열을 맨 왼쪽으로 이동 
df.insert(0, 'movieCd', df.pop('movieCd'))

df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [ ]:
# 반복문을 쓰지 않았더라면...?

merged_df_A = merged_df.copy()

def make_merged_df_A():
    if pd.isna(merged_df_A.iloc[0, 0]):
        merged_df_A.iloc[0, 0] = merged_df_A.iloc[0, 2]

    if pd.isna(merged_df_A.iloc[0, 1]):
        merged_df_A.iloc[0, 1] = merged_df_A.iloc[0, 3]

    if pd.isna(merged_df_A.iloc[1, 0]):
        merged_df_A.iloc[1, 0] = merged_df_A.iloc[1, 2]

    if pd.isna(merged_df_A.iloc[1, 1]):
        merged_df_A.iloc[1, 1] = merged_df_A.iloc[1, 3]

    if pd.isna(merged_df_A.iloc[2, 0]):
        merged_df_A.iloc[2, 0] = merged_df_A.iloc[2, 2]

    if pd.isna(merged_df_A.iloc[2, 1]):
        merged_df_A.iloc[2, 1] = merged_df_A.iloc[2, 3]

    if pd.isna(merged_df_A.iloc[3, 0]):
        merged_df_A.iloc[3, 0] = merged_df_A.iloc[3, 2]

    if pd.isna(merged_df_A.iloc[3, 1]):
        merged_df_A.iloc[3, 1] = merged_df_A.iloc[3, 3]

    return merged_df_A

print(make_merged_df_A())

merged_df_B = merged_df.copy()

def make_merged_df_B():
    if pd.isna(merged_df_B.iloc[0, 2]):
        merged_df_B.iloc[0, 2] = merged_df_B.iloc[0, 0]

    if pd.isna(merged_df_B.iloc[0, 3]):
        merged_df_B.iloc[0, 3] = merged_df_B.iloc[0, 1]

    if pd.isna(merged_df_B.iloc[1, 2]):
        merged_df_B.iloc[1, 2] = merged_df_B.iloc[1, 0]

    if pd.isna(merged_df_B.iloc[1, 3]):
        merged_df_B.iloc[1, 3] = merged_df_B.iloc[1, 1]

    if pd.isna(merged_df_B.iloc[2, 2]):
        merged_df_B.iloc[2, 2] = merged_df_B.iloc[2, 0]

    if pd.isna(merged_df_B.iloc[2, 3]):
        merged_df_B.iloc[2, 3] = merged_df_B.iloc[2, 1]

    if pd.isna(merged_df_B.iloc[3, 2]):
        merged_df_B.iloc[3, 2] = merged_df_B.iloc[3, 0]

    if pd.isna(merged_df_B.iloc[3, 3]):
        merged_df_B.iloc[3, 3] = merged_df_B.iloc[3, 1]
        
    return merged_df_B

print(make_merged_df_B())

        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K           None          None
1002                 Y             F            NaN           NaN
1003                 N             F              Y             F
1004                 Y             K              Y             K
        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K              Y             K
1002                 Y             F              Y             F
1003                 N             F              Y             F
1004                 Y             K              Y             K

In [124]:
if sum(make_merged_df_A().iloc[0:,0] == make_merged_df_B().iloc[0:,2])==4:
    merged_make_merged_df_ㄱ = make_merged_df_B().iloc[:,2]   
else: 
    merged_make_merged_df_ㄱ = make_merged_df_A().iloc[:,0]

if sum(make_merged_df_A().iloc[:,1] == make_merged_df_B().iloc[:,3])==4:
    merged_make_merged_df_ㄴ = make_merged_df_B().iloc[:,3]  
else: 
    merged_make_merged_df_ㄴ = make_merged_df_A().iloc[:,1]
    
merged_make_merged_df = pd.DataFrame(merged_make_merged_df_ㄱ).merge(pd.DataFrame(merged_make_merged_df_ㄴ), on="movieCd", how="outer")

print(merged_make_merged_df)

        multiMovieYn_A repNationCd_B
movieCd
1001                 Y             K
1002                 Y             F
1003                 N             F
1004                 Y             K