In [ ]:
# dataframe 을 for 루bm 돌면서 multiMovieYn, multiMovieYn 값이 NaN 이면
# dataframe 전체 에서 같은 movieCd row 에서 해당 값을 갖여오자

In [40]:
import pandas as pd
PATH = "~/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)
len(df)

50

In [41]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [42]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [43]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='movieNm')

  multiMovieYn repNationCd  movieNm
0            N           F        0
1            N           K        0
2            N         NaN       10
3            Y           F        0
4            Y           K        0
5            Y         NaN       10
6          NaN           F       10
7          NaN           K       10
8          NaN         NaN       10

In [44]:
df_grouped = df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
               .size() \
               .reset_index(name='movieNm')

# 'movieNm' 컬럼을 맨 앞으로 이동
first_column = df_grouped.pop('movieNm')
df_grouped.insert(0, 'movieNm', first_column)

print(df_grouped)

   movieNm multiMovieYn repNationCd
0        0            N           F
1        0            N           K
2       10            N         NaN
3        0            Y           F
4        0            Y           K
5       10            Y         NaN
6       10          NaN           F
7       10          NaN           K
8       10          NaN         NaN

In [45]:
df_grouped_nm = df.groupby(['movieNm', 'multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
                  .size() \
                  .reset_index(name='count')

print(df_grouped_nm)

       movieNm multiMovieYn repNationCd  count
0       3일의 휴가            N           F      0
1       3일의 휴가            N           K      0
2       3일의 휴가            N         NaN      1
3       3일의 휴가            Y           F      0
4       3일의 휴가            Y           K      0
..         ...          ...         ...    ...
220  피아니스트의 전설            Y           K      0
221  피아니스트의 전설            Y         NaN      1
222  피아니스트의 전설          NaN           F      0
223  피아니스트의 전설          NaN           K      0
224  피아니스트의 전설          NaN         NaN      0

[225 rows x 4 columns]

In [49]:
df_grp_grp= df_grouped_nm.groupby('movieNm')[['multiMovieYn', 'repNationCd']].nunique().reset_index()
print(df_distinct_combinations)

                                 movieNm  multiMovieYn  repNationCd
0                                 3일의 휴가             2            2
1                                     괴물             2            2
2                              교토에서 온 편지             2            2
3                         그대들은 어떻게 살 것인가             2            2
4                                   나폴레옹             2            2
5                                   너와 나             2            2
6                             노량: 죽음의 바다             2            2
7                              도티와 영원의 탑             2            2
8                          류이치 사카모토: 오퍼스             2            2
9                              리빙: 어떤 인생             2            2
10                                립세의 사계             2            2
11                             말하고 싶은 비밀             2            2
12  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!             2            2
13                      뽀로로 극장판 슈퍼스타 대모험             2            2
14                            사랑은 낙엽을 타고             2            2
15                                 서울의 봄             2            2
16  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~             2            2
17                               싱글 인 서울             2            2
18                          아쿠아맨과 로스트 킹덤             2            2
19                                어른 김장하             2            2
20                엔시티 네이션 : 투 더 월드 인 시네마             2            2
21                                  쿼바디스             2            2
22                                  크레센도             2            2
23                            트롤: 밴드 투게더             2            2
24                             피아니스트의 전설             2            2

  multiMovieYn_YN repNationCd_KF  count
0               N              F      0
1               N              K      0
2               Y              F      0
3               Y              K      0

/tmp/ipykernel_2508184/1313207272.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_by_yn_kf = df.groupby(['multiMovieYn_YN', 'repNationCd_KF'], dropna=True).size().reset_index(name='count')

In [63]:
df_grouped_nm = df.groupby(['movieNm', 'multiMovieYn', 'repNationCd'], dropna=False, observed=False).size().reset_index(name='count')

df_grp_movieNm = df_grouped_nm.groupby('movieNm')[['multiMovieYn', 'repNationCd']].nunique().reset_index()

print(df_grp_movieNm)

# 'multiMovieYn' 컬럼의 'Y', 'N' 값별 count
multi_movie_counts = df_grp_movieNm['multiMovieYn'].value_counts().reset_index()
multi_movie_counts.columns = ['multiMovieYn_value', 'multiMovieYn_count']

print(multi_movie_counts.columns)

# 'repNationCd' 컬럼의 'K', 'F' 값별 count (정확한 값은 데이터에 따라 다를 수 있음)
# nunique() 결과이므로, 실제 'K' 또는 'F' 값의 개수가 아닌 고유한 repNationCd 종류의 개수임에 유의
rep_nation_counts = df_grp_movieNm['repNationCd'].value_counts().reset_index()
rep_nation_counts.columns = ['repNationCd_nunique', 'repNationCd_count']

                                 movieNm  multiMovieYn  repNationCd
0                                 3일의 휴가             2            2
1                                     괴물             2            2
2                              교토에서 온 편지             2            2
3                         그대들은 어떻게 살 것인가             2            2
4                                   나폴레옹             2            2
5                                   너와 나             2            2
6                             노량: 죽음의 바다             2            2
7                              도티와 영원의 탑             2            2
8                          류이치 사카모토: 오퍼스             2            2
9                              리빙: 어떤 인생             2            2
10                                립세의 사계             2            2
11                             말하고 싶은 비밀             2            2
12  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!             2            2
13                      뽀로로 극장판 슈퍼스타 대모험             2            2
14                            사랑은 낙엽을 타고             2            2
15                                 서울의 봄             2            2
16  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~             2            2
17                               싱글 인 서울             2            2
18                          아쿠아맨과 로스트 킹덤             2            2
19                                어른 김장하             2            2
20                엔시티 네이션 : 투 더 월드 인 시네마             2            2
21                                  쿼바디스             2            2
22                                  크레센도             2            2
23                            트롤: 밴드 투게더             2            2
24                             피아니스트의 전설             2            2
Index(['multiMovieYn_value', 'multiMovieYn_count'], dtype='object')

In [65]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

df_grouped_movienm = df.groupby(['movieNm', 'multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
                  .size() \
                  .reset_index(name='count')

df_grouped_nm = pd.DataFrame(df_grouped_movienm)

# 각 조건에 따른 boolean 컬럼 생성
df_grouped_nm['multiMovieYn_Y'] = df_grouped_nm['multiMovieYn'] == 'Y'
df_grouped_nm['multiMovieYn_N'] = df_grouped_nm['multiMovieYn'] == 'N'
df_grouped_nm['repNationCd_K'] = df_grouped_nm['repNationCd'] == 'K'
df_grouped_nm['repNationCd_F'] = df_grouped_nm['repNationCd'] == 'F'

# 생성된 boolean 컬럼들을 기준으로 그룹화하고 count
grouped_df = df_grouped_nm.groupby(['multiMovieYn_Y', 'multiMovieYn_N', 'repNationCd_K', 'repNationCd_F'])['count'].sum().reset_index()

print(grouped_df)

   multiMovieYn_Y  multiMovieYn_N  repNationCd_K  repNationCd_F  count
0           False           False          False          False     10
1           False           False          False           True     10
2           False           False           True          False     10
3           False            True          False          False     10
4           False            True          False           True      0
5           False            True           True          False      0
6            True           False          False          False     10
7            True           False          False           True      0
8            True           False           True          False      0

In [66]:
# 'movieNm' 컬럼을 포함하여 그룹화하고 count
grouped_df_with_movienm = df_grouped_nm.groupby(['movieNm', 'multiMovieYn_Y', 'multiMovieYn_N', 'repNationCd_K', 'repNationCd_F'])['count'].sum().reset_index()

# 'movieNm' 별로 count 합계
grouped_by_movienm = grouped_df_with_movienm.groupby('movieNm')['count'].sum().reset_index()
grouped_by_movienm.rename(columns={'count': 'total_count'}, inplace=True)

print("movieNm별 count 합계:")
print(grouped_by_movienm)

# 'movieNm' 별로 각 boolean 조건 조합에 대한 count 합계
grouped_by_movienm_detailed = grouped_df_with_movienm.groupby('movieNm')[['multiMovieYn_Y', 'multiMovieYn_N', 'repNationCd_K', 'repNationCd_F', 'count']].sum().reset_index()

print("\nmovieNm별 boolean 조건 조합에 대한 count 합계:")
print(grouped_by_movienm_detailed)

movieNm별 count 합계:
                                 movieNm  total_count
0                                 3일의 휴가            2
1                                     괴물            3
2                              교토에서 온 편지            1
3                         그대들은 어떻게 살 것인가            1
4                                   나폴레옹            1
5                                   너와 나            1
6                             노량: 죽음의 바다            3
7                              도티와 영원의 탑            3
8                          류이치 사카모토: 오퍼스            2
9                              리빙: 어떤 인생            2
10                                립세의 사계            1
11                             말하고 싶은 비밀            3
12  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!            3
13                      뽀로로 극장판 슈퍼스타 대모험            3
14                            사랑은 낙엽을 타고            2
15                                 서울의 봄            3
16  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~            3
17                               싱글 인 서울            1
18                          아쿠아맨과 로스트 킹덤            3
19                                어른 김장하            1
20                엔시티 네이션 : 투 더 월드 인 시네마            1
21                                  쿼바디스            1
22                                  크레센도            2
23                            트롤: 밴드 투게더            3
24                             피아니스트의 전설            1

movieNm별 boolean 조건 조합에 대한 count 합계:
                                 movieNm  multiMovieYn_Y  multiMovieYn_N  \
0                                 3일의 휴가               3               3
1                                     괴물               3               3
2                              교토에서 온 편지               3               3
3                         그대들은 어떻게 살 것인가               3               3
4                                   나폴레옹               3               3
5                                   너와 나               3               3
6                             노량: 죽음의 바다               3               3
7                              도티와 영원의 탑               3               3
8                          류이치 사카모토: 오퍼스               3               3
9                              리빙: 어떤 인생               3               3
10                                립세의 사계               3               3
11                             말하고 싶은 비밀               3               3
12  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!               3               3
13                      뽀로로 극장판 슈퍼스타 대모험               3               3
14                            사랑은 낙엽을 타고               3               3
15                                 서울의 봄               3               3
16  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~               3               3
17                               싱글 인 서울               3               3
18                          아쿠아맨과 로스트 킹덤               3               3
19                                어른 김장하               3               3
20                엔시티 네이션 : 투 더 월드 인 시네마               3               3
21                                  쿼바디스               3               3
22                                  크레센도               3               3
23                            트롤: 밴드 투게더               3               3
24                             피아니스트의 전설               3               3

    repNationCd_K  repNationCd_F  count
0               3              3      2
1               3              3      3
2               3              3      1
3               3              3      1
4               3              3      1
5               3              3      1
6               3              3      3
7               3              3      3
8               3              3      2
9               3              3      2
10              3              3      1
11              3              3      3
12              3              3      3
13              3              3      3
14              3              3      2
15              3              3      3
16              3              3      3
17              3              3      1
18              3              3      3
19              3              3      1
20              3              3      1
21              3              3      1
22              3              3      2
23              3              3      3
24              3              3      1

KeyError: 'count'

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [97]:
import pandas as pd
PATH = "~/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)
len(df)

50

In [98]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [107]:
a = df.groupby(['multiMovieYn', 'repNationCd', 'movieNm'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

In [108]:
# movieNm을 기준으로 그룹화
df_grouped_by_movienm = a.groupby('movieNm')

In [100]:
# 각 조건별 count를 위한 함수 정의
def get_counts(group):
    counts = pd.Series({
        'multiMovieYn=Y': group[group['multiMovieYn'] == 'Y']['count'].sum(),
        'multiMovieYn=N': group[group['multiMovieYn'] == 'N']['count'].sum(),
        'repNationCd=K': group[group['repNationCd'] == 'K']['count'].sum(),
        'repNationCd=F': group[group['repNationCd'] == 'F']['count'].sum()
    })
    return counts

# 각 movieNm별 count 적용 및 결과 병합
result_df = grouped_by_movienm.apply(get_counts).reset_index()

print(result_df)

KeyError: 'count'

In [ ]:


# 각 조건별 count를 위한 함수 정의
def get_counts(group):
    counts = pd.Series({
        'multiMovieYn=Y': group[group['multiMovieYn'] == 'Y']['count'].sum(),
        'multiMovieYn=N': group[group['multiMovieYn'] == 'N']['count'].sum(),
        'repNationCd=K': group[group['repNationCd'] == 'K']['count'].sum(),
        'repNationCd=F': group[group['repNationCd'] == 'F']['count'].sum()
    })
    return counts

# 각 movieNm별 count 적용 및 결과 병합
result_df = grouped_by_movienm.apply(get_counts).reset_index()

print(result_df)