In [19]:
import pandas as pd

def fillna_meta(previous_df, current_df):
    previous_df = pd.DataFrame(
        {
            "movieCd": ["1001", "1002", "1003"],
            "multiMovieYn": ["Y", "Y", "N"],
            "repNationCd": ["K", "F", None],
        }
    )
    
    current_df = pd.DataFrame(
        {
            "movieCd": ["1001", "1003", "1004"],
            "multiMovieYn": [None, "Y", "Y"],
            "repNationCd": [None, "F", "K"],
        }
    )
    
    previous_df.set_index("movieCd", inplace=True)
    current_df.set_index("movieCd", inplace=True)
    
    merged_df = previous_df.merge(current_df, on="movieCd", how="outer", suffixes=("_A", "_B"))

    for i in range(0,len(merged_df)):    
        if pd.isna(merged_df.iloc[i, 0]):
            merged_df.iloc[i, 0] = merged_df.iloc[i, 2]
        if pd.isna(merged_df.iloc[i, 1]):
            merged_df.iloc[i, 1] = merged_df.iloc[i, 3]

 
    multiMovieYn = merged_df.copy()['multiMovieYn_A'].tolist()     
    repNationCd = merged_df.copy()['repNationCd_A'].tolist()
    data = {"multiMovieYn": multiMovieYn, "repNationCd": repNationCd}
    df = pd.DataFrame(data)
    df["movieCd"] = merged_df.index
    
    # movieCd 열을 맨 왼쪽으로 이동 
    df.insert(0, 'movieCd', df.pop('movieCd'))

    return df
    

fillna_meta(previous_df, current_df)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [20]:
def test_fillna_meta():
    previous_df = pd.DataFrame(
        {
            "movieCd": ["1001", "1002", "1003"],
            "multiMovieYn": ["Y", "Y", "N"],
            "repNationCd": ["K", "F", None],
        }
    )

    current_df = pd.DataFrame(
        {
            "movieCd": ["1001", "1003", "1004"],
            "multiMovieYn": [None, "Y", "Y"],
            "repNationCd": [None, "F", "K"],
        }
    )

    r_df = fillna_meta(previous_df, current_df)

    assert not r_df.isnull().values.any(), "결과 데이터프레임에 NaN 또는 None 값이 있습니다!"

In [21]:
r_df = fillna_meta(previous_df, current_df)
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [22]:
import pandas as pd

previous_df = None

current_df = pd.DataFrame(
    {
        "movieCd": ["1001", "1003", "1004"],
        "multiMovieYn": [None, "Y", "Y"],
        "repNationCd": [None, "F", "K"],
    }
)

In [23]:
previous_df.set_index("movieCd", inplace=True)
current_df.set_index("movieCd", inplace=True)

merged_df = previous_df.merge(current_df, on="movieCd", how="outer", suffixes=("_A", "_B"))

merged_df

AttributeError: 'NoneType' object has no attribute 'set_index'